.floatingButton {
    position: absolute;
    top: 87px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #69b2f8;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto; /* 나머지 공간을 차지하여 오른쪽으로 밀림 */
}

.logoButton {
    display: flex;
    align-items: center;
    color: white;
}

.chatContainer {
    display: flex; /* 가로로 나란히 배치 */
    flex-grow: 1; /* 전체 화면에서 남은 공간 차지 */
}

.chatList {
    width: 27%;
    max-width: 400px;
    border-right: 1px solid #ddd;
    background-color: #fff;
    flex-shrink: 0; /* 고정 너비로 설정 */
}

.chatItem {
    display: flex;
    align-items: center;
    padding: 8px 0 8px 20px;
    border-bottom: 1px solid #ddd;
}
  
.avatar {
    width: 40px;
    height: 40px;
    background-color: #9ecffd;
    border-radius: 50%;
    margin-right: 8px;
}
  
.username {
    padding-left: 5px;
    font-size: 16px;
    color: #333;
}
  
.chatInputBox {
    flex-grow: 1;
    margin: 16px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    height: 90%;
    border:1px solid #ddd;
}

.chatWindow{
    height: 80%;
    padding: 20px 10px;
    overflow-y: visible;
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    justify-content: flex-start;
}
.message {
    max-width: 70%;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 12px;
}
  
.receivedMessage {
    min-width: 30%;
    min-height: 40px;
    background-color: #e9f8e8;
    align-self: flex-start;
}
  
.sentMessage {
    min-width: 30%;
    min-height: 40px;
    background-color: #e6f3fb;
    align-self: flex-end;
}
  
.messageInputContainer {
    display: flex;
    background-color: white;
    align-items: center; /* 세로 중앙 정렬 */
    padding: 5px; /* 가로로 패딩 5px 추가 */
    border-top: 1px solid #ddd;
    height: 20%;
}

.messageInput {
    flex-grow: 1;
    padding: 8px;
    margin:5px 0 5px 5px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    outline: none;
    overflow-y: visible;
    height: 80%;
    resize: none;
}

.sendButton {
    width: 70px;
    height: 80%;
    background-color: #69b2f8;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.floatingButton {
    position: absolute;
    top: 87px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #69b2f8;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto; /* 나머지 공간을 차지하여 오른쪽으로 밀림 */
    margin-right: 16px; /* logoButton과의 간격 조정 */
}

