.customContainer {
    display: flex;
    height: 92vh;
    min-width: 2555px;
    position: absolute; 
    left: 0; /* 강제로 화면 왼쪽부터 시작하도록 */    
    overflow-x: auto; /* 가로 스크롤을 허용 */
    overflow-y: hidden;
}

.planController {
    padding: 2px;
    width: 4.5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ccc;
}

.planContainer {
    flex: 0.5;
    height: 100vh;
    margin-top: 15px;
    margin-right: 15px;
}

.mapContainer {
    flex: 3;
    height: 100vh;
    margin-top: 15px;
    margin-right: 5px;
}
