.sideController{
  position: fixed;

}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.earth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px;
}

.earth img {
  width: 400px; 
  height: auto;
}

.textBoxLeft,
.textBoxRight,
.textBoxBottom {
  background-color: rgba(173, 216, 230, 0.5);
  padding: 20px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  width: 350px;
  height: 150px;
  text-align: center;
}

.textBoxLeft {
  text-align: right;
}

.textBoxRight {
  text-align: left;
}

.textBoxBottom{
  width: 500px;
  height: 100px;
}

/* Footer 영역 */
.createPlan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 200px;
}
  
.travelButton {
  background-color: #add8e6;
  border: none;
  border-radius: 10px;
  padding: 20px 40px;
  font-size: 30px;
  cursor: pointer;
}

.travelButton:hover {
  background-color: #87ceeb;
}


.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoWrapper {
  background-color: #add8e6;
  padding: 20px;
  border-radius: 8px;
}

.video {
  width: 600px;
  height: 400px;
  border-radius: 8px;
}
  
.navButton:hover {
  color: #87ceeb;
}