.container {
  width: 100%;
  margin-right: 15px;
}

/* 제목 스타일 */
.title {
  margin-bottom: 20px;
  font-size: 1 rem;
  font-weight: bold;
}

/* 탭 버튼 스타일 (선택된 관광지 / 관광지 검색 및 추천) */
.tabButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tabButton {
  width: 150px;  /* 너비 고정 */
  padding: 10px 0;  /* 세로로 여백을 줘서 버튼 크기를 맞춤 */
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 30px;  /* 둥근 테두리 */
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.activeTab {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  border-radius: 30px;
}

.tabButton:hover {
  background-color: #d4d4d4;
}

/* 카테고리 버튼 스타일 (축제 / 명소 / 쇼핑 / 유적) */
.categoryButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.categoryButton {
  width: 80px;  /* 너비 고정 */
  padding: 10px 0;  /* 버튼 높이 맞춤 */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 20px;  /* 둥근 모서리 */
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.activeCategory {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  border-radius: 20px;
}

.categoryButton:hover {
  background-color: #d4d4d4;
}

/* 선택된 관광지 카드 스타일 */
.selectedTouristSpot {
  position: relative;
  display: flex;
  flex-direction: row;  
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 1px 5px;
  background-color: #fff;
}

.selectedTouristSpot:hover {
  transform: translateY(-5px);
}

.spotImage {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 15px;
  margin-top: 6px;
}

.cardContent {
  padding: 10px;
  text-align: left;
}

.spotTitle {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.spotInfo {
  margin: 5px 0;
  color: #666;
  font-size: 14px;
}

.spotTime {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}

/* 추천 관광지 검색 */
.recommendation {
  text-align: center;
}

.searchBox {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchInput {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.searchButton {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

/* 지도 컨테이너 */
.mapContainer {
  margin-top: 20px;
  width: 100%;
  height: 300px;
}

.map {
  width: 100%;
  height: 100%;
  background-color: #eee; /* KakaoMap이 로드될 영역 */
}