.table {
  width: 80%; /* 원하는 퍼센트 또는 px 값으로 설정 */
  margin: 0 auto; /* 중앙 정렬 */
  border-collapse: collapse; /* 테이블 경계선 겹치기 */
}

.table th, .table td {
  padding: 10px; /* 셀 내부 여백 */
  border: 1px solid #ddd; /* 테두리 색상 */
}

.headerImage {
  width: 100%;
  height: auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.menu button, .menu input {
  margin-right: 10px;
}
