.scroll-to-top {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: 35px;
    background-color: #e2e0e0;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  
  .scroll-to-top:hover {
    background-color: #b1b1b1;
  }