.styled-select {
  width: 100px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}

.styled-select:focus {
  border-color: blueviolet;
}

.styled-menu-item {
  padding: 2px;
  color: black;
  cursor: pointer;
}

.styled-menu-item:hover {
  background-color: pink;
}

.styled-menu-item:active {
  background-color: gray;
}

