.container {
  padding: 0 20px;
}

.table-header {
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  flex: 1;
  margin-right: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search-container button {
  background-color: #378CE7;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.filter-container {
  position: relative;
}


.filter-button {
  background-color: #378CE7;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.filter-dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid #ddd;
  margin-top: 5px;
}

.filter-dropdown.show {
  display: block;
}

.filter-dropdown label {
  display: block;
  padding: 10px;
}

.filter-dropdown input {
  margin-right: 5px;
}

.review-item {
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  transition: height 0.3s ease-out;
  position: relative;
}

.review-item.expanded {
  height: auto;
}

.review-date {
  position: absolute;
  bottom: 10px; 
  right: 10px; 
  color: #888; 
  font-size: 14px;
}

.review-image {
width: 100%;
height: 100%;
object-fit: cover;
display: block;
transition: transform 0.3s ease-out;
}
.image-container {
position: relative;
overflow: hidden;
width: 30%;
min-height: 300px;
}
.image-navigation {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: space-between;
padding: 5px;
}

.image-navigation button {
background-color: transparent;
color: #fff;
border: none;
cursor: pointer;
font-size: 20px;
padding: 5px;
outline: none;
transition: transform 0.3s ease-out;
}


.image-navigation button:disabled {
opacity: 0.5;
cursor: default;
}

.image-navigation button:hover {
transform: scale(1.2);
}

.image-navigation button:active {
transform: scale(0.9);
}

.additional-images {
display: flex;
margin-top: 10px;
}
.additional-image {
width: 80px;
height: 80px;
object-fit: cover;
margin-right: 10px;
opacity: 0.7;
}

.review-content {
width: 70%;
padding: 10px;
position: relative;
overflow: hidden;
}

.review-header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 10px;
}


.review-title {
font-size: 18px;
font-weight: bold;
}

.review-author {
font-size: 14px;
color: #666;
}

.review-body {
margin-bottom: 10px;
overflow: hidden;
}

.review-date {
font-size: 12px;
color: #888;
}

.thumbnail-container {
display: flex;
overflow: hidden;
position: relative;
}
.thumbnail-images {
display: flex;
transition: transform 0.3s ease-in-out;
}
.thumbnail-image {
  width: 30%;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 0.3s ease-out;
  
}

.thumbnail-image.active {
  border: 2px solid #007bff;
}

.thumbnail-image:hover {
  transform: scale(1.1);
}

.thumbnail-navigation {
display: flex;
justify-content: space-between; 
}

.thumbnail-arrow {
cursor: pointer;
border: none;
background: transparent;
}

.navigation-button {
position: absolute;
top: 50%;
background-color: rgba(0, 0, 0, 0.5);
color: white;
border: none;
cursor: pointer;
padding: 10px;
}

.prev-button {
left: 0;
}

.next-button {
right: 0;
}


.fixed-button {
  position: fixed;
  bottom: 40px;
  right: 20px;
  background-color: #4b98e6;
  padding: 10px 20px;
  border-radius: 50px;
  color: #ffffff; 
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-button:hover{
background-color:#4b98e6d0;
}

.fixed-button a {
color: #ffffff; 
text-decoration: none; 
}

.fixed-button a:hover {
color: #ffffff;
}